<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hariolis", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(" - Like i predicted", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hariolis - Like i predicted</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/parse")
    
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
        $(document).ready(function () {

            Parse.initialize("ZfjYa9R91ljBfFZ3798AJtAvvOSZIeTFzMNDkMma", "J0Y0dCq88ZNHbcCDMIky1NbpXxYuANb266JlZFWv");

            $(".jsDateSet").click(function () {
                var d_add = $(this).data("date");

                var RemindDate = new Date();
                RemindDate.setMonth(RemindDate.getMonth() + d_add);

                var d = RemindDate.getDate();
                var m = RemindDate.getMonth();
                m += 1;  // JavaScript months are 0-11
                var y = RemindDate.getFullYear();


                $('#predictionDate').val(y + '-' + m + '-' + d);

            });

            $(".jsSave").click(function () {
                
                from = $("#predictionDate").val().split("-");
                d = new Date(from[0], from[1] - 1, from[2]);
                alert(d);

                var p_text = $("#predictionText").val();     
                var p_date = d;     
                var emails = $("#email").val();
                var Prediction = Parse.Object.extend("Prediction");
                var prediction = new Prediction();
                prediction.save(
                {
                    text:  p_text,
                    date: p_date,
                    email: emails
                }).then(function (object) {
                    
                });

            });

        

    });

    </script>

</body>
</html>
